/* General */

.palette-change {
	background-color: #4b4b4a !important;
}

.palette-change-dark {
	background-color: black !important;
}

.palette-change-light {
	background-color: #eded15 !important;
}

/* Login page */

.login-button {
	width: 340px !important;
}

.login-button:hover,
.login-button:focus {
	background-color: #848484 !important;
}

.copyright {
	color: #848484 !important;
}

/* Admin page */

.portlet.box.green > .portlet-title {
	background-color: #4b4b4a !important; /* 4B8DF8 */
}

.js-search {
	background-color: #4b4b4a !important;
}

button.dropdown-toggle {
	background-color: #4b4b4a !important;
}

.portlet > .portlet-body.green, .portlet.green {
	background-color: #4b4b4a !important;
}

.portlet.box.green {
	border: 1px solid #4b4b4a !important;
}

.btn-success {
	background-color: #4b4b4a !important;
}

.panel-default > .panel-heading {
    background-image: none !important;
	background-color: #4b4b4a !important;
}

.panel-default {
	border-color: #4b4b4a;
}