.sng-info-box {
    border-style: solid;
    border-width: 2px;
    border-color: #E5E5E5;
    background-color: #EEEEEE;
    padding: 5px;
    min-height: 32px;
}
.sng-info-box-fixed {
    height: 32px;
    white-space: nowrap;
    overflow: scroll;
}
.panel-default > .panel-heading {
    color: white;
    font-weight: bold;
}
.sng-dt-right:not(th) {
    text-align: right;
}
.sng-dt-center:not(th) {
    text-align: center;
}
.sng-no-wrap {
    white-space: nowrap;
}
.sng-hint {
    font-size: 12px;
}
.sng-margin-top {
    margin-top: 10px;
}
.sng-date-column {
    width: 140px;
}
.sng-last-row {
    background-color: #FFEE99 !important;
}
.sng-text-right {
    text-align: right;
}
.sng-text-center {
    text-align: center;
}
.sng-full-width {
    width: 100%;
}
.sng-payment-row {
    border-style: solid;
    border-width: 2px;
    border-color: #E5E5E5;
    margin-top: 10px;
    padding: 10px;
}
.sng-close-payment {
    float: right;
}
.sng-faded {
    filter: alpha(opacity=45);
    opacity: 0.45;
}
.sng-green-btn {
    background-color: #43A34C;
    color: #FFFFFF;
    border-width: 0;
    padding: 5px;
}
.sng-move-right {
    float: right;
}
.sng-margin-bottom {
    margin-bottom: 10px;
}
.sng-margin-left {
    margin-left: 5px;
}
