<?php

return [
    'doctrine' => [
        'connection' => [
            // default connection name
            'orm_default' => [
                'driverClass' => 'Doctrine\DBAL\Driver\PDOPgSql\Driver',
                'params' => [
                    'host'     => '127.0.0.1',
                    'port'     => 'port',
                    'user'     => 'user',
                    'password' => 'pass',
                    'dbname'   => 'db',
                ]
            ]
        ]
    ]
];