<?php
return [
    'omnipay' => [
        'environment' => 'test',//'production' for production
        'first-payment' => [
            'alias' => 'xxx',
            'serviceType' => 'paga_rico',
            'returnUrl' => '##domain_name##/payment-concluded',
            'cancelUrl' => '##domain_name##/payment-cancelled',
            'macKey' => 'xxx'
        ],
        'token-payment' => [
            'alias' => 'xxx',
            'serviceType' => 'paga_rico',
            'requestType' => 'PR',
            'macKey' => 'xxx'
        ]
    ]
];